<div>
  {{uppercase (humanize key)}}
  {{#paper-button iconButton=true onClick=(action (toggle "isExpanded" this))}}
    {{paper-icon "open_in_new" size=14}}
  {{/paper-button}}
</div>


{{#if isExpanded}}
    {{#paper-dialog fullscreen=fullscreen clickOutsideToClose=true onClose=(action (toggle "isExpanded" this))}}
      {{#paper-dialog-content}}
        <div class="exred-big-editor">
        {{ember-ace
          minLines=10
          maxLines=20
          tabSize=2
          highlightActiveLine=true
          showInvisibles=true
          showLineNumbers=true
          editorClass="exred-codeblock-editor"
          enableDefaultAutocompletion=true
          enableLiveAutoCompletion=true
          value=value
          mode="ace/mode/elixir"
          update=(action (queue (action (mut value)) (action configUpdate key value))) }}
        </div>
      {{/paper-dialog-content}}
    {{/paper-dialog}}
{{/if}}


{{ember-ace
  minLines=10
  maxLines=20
  tabSize=2
  highlightActiveLine=true
  showInvisibles=true
  showLineNumbers=true
  editorClass="exred-codeblock-editor"
  enableDefaultAutocompletion=true
  enableLiveAutoCompletion=true
  value=value
  mode="ace/mode/elixir"
  update=(action (queue (action (mut value)) (action configUpdate key value))) }}
