{{#paper-list}}
  {{#paper-subheader}}{{uppercase (humanize key)}}{{/paper-subheader}}

  {{#each itemlist as |item|}}
    {{#paper-item as |controls|}}
      <p>{{humanize item}}</p>
      <div class="md-secondary-container">
        {{controls.radio
          groupValue=selectedItem
          value=item
          secondary=true
          onChange=(action (mut selectedItem))}}
      </div>
    {{/paper-item}}
  {{/each}}

{{/paper-list}}